html, body {
    height: 100%;
    margin: 0;
}

/* Rids of margins */
body {
    margin: 0;
    background: linear-gradient(rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.7)), 
        url("https://github.com/Kaleb-kougl/personal_website/blob/master/wood_desk_work_area.jpg?raw=true");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* rids of margins */
.nav-container {
    margin: 0 auto;
}

/* positions header at top of page and on top of everything */
header {
    background: #fffff2;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

/* clear fix */
header::after {
    content: "";
    display: table;
    clear: both;
}

/* positions logo on navbar */
.logo {
    float: left;
    max-height: 70px;
    width: auto;
    padding: 10px;
}

/* float right for links */
nav {
    float: right;
    margin-right: 10px;
    height: 75px;
    margin-top: 12px;
    /* z-index: 2; */
}

/* gets rid of ugly list styling */
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Positioning for nav-links */
nav li {
    display: inline-block;
    margin-left: 70px;
    margin-bottom: 30px;
    padding-top: 25px;
    position: relative;  
}

/* styling for nav-links */
nav a {
    text-decoration: none;
    color: #444;
    text-transform: uppercase;
}

/* hover color effect for links */
nav a:hover {
    color: #000;
}

/* In link before text add block element */
nav a::before {
    content: "";
    display: block;
    height: 5px;

    background-color: #444;

    position: absolute; 
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

/* when hover show bar */
nav a:hover::before {
    width: 100%;
}

/* prevents overlap */
.main-container {
    position: relative;
    top: 78px;
    width: 100%;
    height: 100%;
    color: white;
}

/* Makes the welcome section 1-full screen */
.welcome {
    min-height: 100%;
    width: 100%;
    font-size: 32pt;
    text-align: center;
}

#profile-pic {
    max-width: 200px;
    border-radius: 50%;
    margin-top: 20px;
    border: 5px solid #fffff2;
}


#projects {
    background: url("https://github.com/Kaleb-kougl/personal_website/blob/master/Wooden_fence_closeup.jpg?raw=true");
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    font-size: 26pt;
    box-shadow: 2px 2px 5px 4px black;
}

#projects > h2 {
    text-shadow: 3px 3px #444;
}

.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    padding-bottom: 40px;
}

.project-container a {
    width: 40%;
    margin: 5px;
    text-decoration: none;
}

.project {
    border: 1px solid white;
    text-align: center;
    color: black;
    background-color: #fffff2;
    box-shadow: 2px 2px 5px 4px #444;
}
.project > img {
    width: 100%;
}

#profiles {
    background: linear-gradient(rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.7)), url("https://github.com/Kaleb-kougl/personal_website/blob/master/work_area.jpg?raw=true");
    background-attachment: fixed;
    background-size: cover;
    color: white;
    top: 0;
    padding: 10px;
    text-align: center;
    font-size: 26pt;
    box-shadow: 2px 2px 5px 4px #444;
}

.profiles-sections-tag h4 {
    font-size: 23pt;
}

.profile-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-evenly;
}

.profile {
    padding: 20px;
    background: url("https://github.com/Kaleb-kougl/personal_website/blob/master/wood-background.jpg?raw=true");
    background-size: cover;
    border-radius: 50%;
    box-shadow: 2px 2px 5px 4px #444;
}

.profile-container a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px #444;
    font-size: 20pt;
}

.profile:hover {
    background: linear-gradient(rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.7)), url("https://github.com/Kaleb-kougl/personal_website/blob/master/wood-background.jpg?raw=true");
    background-size: cover;
}

.profile:hover a {
    color: white;
}

@media only screen and (max-width: 768px) {
    #navbar {
        display: none;
    }

    body {
        background-size: 900px auto;
    }

    .main-container {
        top: 20px;
    }

    .welcome h1 {
        font-size: 34pt;
    }

    .welcome div {
        font-size: 24pt;
    }

    #projects {
        background-size: 768px auto;
    }
  
    .profile-container {
      display: flex;
      flex-direction: column;
    }
  
    .profile {
      margin-top: 40px;
      background-size: 768px auto;    
    }
  
    .project-label {
      font-size: 10pt;
    }
  
}