<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Kaleb's Portfolio</title>
        <link rel="shortcut icon" href="https://raw.githubusercontent.com/Kaleb-kougl/personal_website/master/logo_kk_16x16.ico?raw=true">

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href={{ url_for( 'static', filename='style.css') }}>
    </head>

    <body>

        <header id="navbar">
            <div class="nav-container">

                <img src="https://github.com/Kaleb-kougl/personal_portfolio/blob/master/logo_kk_edit.png?raw=true" alt="logo" class="logo">

                <nav>
                    <ul>
                        <li><a class="nav-link" href="#">About</a></li>
                        <li><a class="nav-link" href="#projects">Projects</a></li>
                        <li><a class="nav-link" href="#profiles">Contact</a></li>
                    </ul>
                </nav>

            </div>
        </header>

        <div class="main-container">

            <div id="welcome-section" class="welcome">

                <h1>Hey, I'm Kaleb Kougl</h1>
                <div>A Full-Stack Web Developer</div>
                <img src="https://github.com/Kaleb-kougl/personal_portfolio/blob/master/IMG_0192.JPG?raw=true" id="profile-pic">

            </div>
        

            <section id="projects">
                <br>
                <h2>PROJECTS</h2>
                <br>
                <div class="project-container">
                    <a href="https://codepen.io/kmkougl/full/ZMbOvx/" target="_blank">
                        <div class="project project-tile">
                            <img src="https://github.com/Kaleb-kougl/personal_portfolio/blob/master/tribute_page_screenshot.png?raw=true" alt="Tribute page">

                            <div class="project-label">
                                Lady Gaga Tribute Page
                            </div>
                        </div>
                    </a>

                    <a href="https://codepen.io/kmkougl/full/wEKqWP/" target="_blank">
                        <div class="project project-tile">
                            <img src="https://github.com/Kaleb-kougl/personal_portfolio/blob/master/survey_form_screenshot.png?raw=true" alt="Survey Form">

                            <div class="project-label">
                                Survey Form
                            </div>
                        </div>
                    </a>

                    <a href="https://codepen.io/kmkougl/full/RYaWGq/" target="_blank">
                        <div class="project project-tile">
                            <img src="https://github.com/Kaleb-kougl/personal_portfolio/blob/master/prod_land_page_screenshot.png?raw=true" alt="Product Landing Page">

                            <div class="project-label">
                                Product Landing Page
                            </div>
                        </div>
                    </a>

                    <a href="https://codepen.io/kmkougl/full/NLRKOz/" target="_blank">
                        <div class="project project-tile">
                            <img src="https://github.com/Kaleb-kougl/personal_portfolio/blob/master/Tech_doc_screenshot.png?raw=true" alt="Technical Documentation">

                            <div class="project-label">
                                Technical Documentation
                            </div>
                        </div>    
                    </a>
                    
                </div>
                
            </section>

            <section id="profiles" class="profiles-sections-tag">
                <h2>Ready to work together?</h2>
                <h4>Let's do coffee</h4>    
                    
                <div class="profile-container">    
                    
                    <a href="https://github.com/Kaleb-kougl" id="profile-link" target="_blank">
                        <div class="profile" id="github-profile">
                            Github
                        </div>
                    </a>
                    
                    <a href="https://twitter.com/Kalebmon1" target="_blank">
                        <div class="profile" id="twitter-profile">
                            Twitter 
                        </div>
                    </a>

                    <a href="https://www.linkedin.com/in/kaleb-kougl-7b3292151/" target="_blank">
                        <div class="profile" id="linkedin-profile">
                        LinkedIn                   
                        </div>
                    </a> 

                    <a href="https://codepen.io/kmkougl/" target="_blank">
                        <div class="profile" id="codepen-profile">
                            CodePen
                        </div>
                    </a>

                </div>                
            </section>
        </div>
    </body>
</html>